@inherits LayoutComponentBase

<PageTitle>range.vote</PageTitle>

<div class="page">
    <NavMenu />

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
