@inherits LayoutComponentBase
@inject IThemeService ThemeService

<PageTitle>range.vote</PageTitle>

<div class="page @themeClass">
    <NavMenu />

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    private string themeClass = "theme-cow";

    protected override async Task OnInitializedAsync()
    {
        var theme = await ThemeService.GetCurrentThemeAsync();
        themeClass = $"theme-{theme}";
        StateHasChanged();
    }
}
