@page "/ballots"

<PageTitle>Ballots</PageTitle>

    @using RangeVote2.Data
    @inject RangeVoteRepository _repository
    @inject NavigationManager _navigationManager

    @if (ballotIds == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h1>Ballots</h1>

        <p>Select a ballot.</p>
        foreach (var item in ballotIds)
        {
            <a href="vote?userID=@userId&electionId=@item">@item</a><br />
        }
    }

    @code {
        [Parameter]
        [SupplyParameterFromQuery]
        public String? userId { get; set; }

        List<String>? ballotIds;

        protected override async Task OnInitializedAsync()
        {
            if (userId is not null && userId is not "")
            {
                ballotIds = _repository.GetBallots();
            }
        }
    }
