@page "/"

<p>It looks like you are new here.</p>
<p>If this is your first time, here is a new link just for you.</p>
<a href="ballots?userId=@Guid.NewGuid().ToString()">Your New Link</a>
<br />
<br />
<p>Save this link to come back next time and update your vote.</p>
<p>If you are returning, please try to find your link and try again.</p>