@page "/logout"
@using RangeVote2.Data
@inject CustomAuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<PageTitle>Logout</PageTitle>

<p>Logging out...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthStateProvider.MarkUserAsLoggedOut();
        Navigation.NavigateTo("/login", true);
    }
}
